ESPOCRM_URL=https://demo.us.espocrm.com/?l=en_US
IOS_DEVICE_NAME=iPhone 17 Pro
IOS_PLATFORM_VERSION=26.0
ANDROID_DEVICE_NAME=Galaxy_S25_API_35
ANDROID_PLATFORM_VERSION=15
ANDROID_AVD=Galaxy_S25_API_35
APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723
